@import "~antd/dist/antd.css";

.myname {
    font-size: 20px;
    font-weight: bold;
}

.about-me-block {
  //background-image: url("../assets/landingTemp3.jpg");
}

.icons {
  a {
    padding: 0px 10px;
    font-size: 80px;
  }
}

.description {
  font-size: 17px;
}
