@import '~antd/dist/antd.css';

li{
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 130%;
}

.singleImage {
    width: 200px;
    height: 200px;
}

.ant-carousel {
    width: 200px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    overflow: hidden;
  }

  .popup {
      width: 100%;
      height: 100%;

      .ant-carousel {
          height: 100%;
          width: 100%;
          
          .slick-slide {
            height: 100%;
            text-align: center;
            overflow: hidden;
          }
      }
  }
  